@supports (backdrop-filter: blur(30px)) or (-webkit-backdrop-filter: blur(30px)) {
    .blur_bg {
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(30px);
        background-color: rgba(0, 0, 0, .1);

        border-radius: 15px;
    }
}