@supports (backdrop-filter: blur(15px)) or (-webkit-backdrop-filter: blur(15px)) {
    .input_container {
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
        background-color: rgba(0, 0, 0, .2);

        padding: 10px;
        border-radius: 10px;
    }
}

#input_box {
    width: 100%;
    height: 100%;
    padding: 5;
    border: 0;
    background: transparent;
    outline: 0;
    font-size: medium;
    color:lightgray;
}
