@import "../BlurBg.css";

.main_box {
    width: 60%;
    height: 70%;

    padding: 10px;
    margin: auto;
    left: 0; right: 0; top: 0; bottom: 0;
    position: absolute;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.content_box {
    flex-grow: 1;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
}
